/* Selector universal */
*{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS *Hoja de estilo en cascada */

/* ESte es el selector de elementos */
button{
    color: red;
}

/* El selector de clase */
.especial{
    color: blue;
}

button{
    color: blueviolet;
}

#btn-super-especial{
    color: green;
}

.super-especial{
    background-color: red;
}

